*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background:rgb(0, 3, 15);
}
h1{
  font-family: 'Times New Roman', Times, serif;
color: white;
text-align: center;
}

h2{
font-family: 'Times New Roman', Times, serif;
color: white;
text-align: center;
}
#imagen{
  width: 200px;
  height: 200px;
  border-radius: 90%;
}
#imagen:hover{
  transform: scale(1.1);
  transform: rotate(1080deg);
  transition: 1s all ease;
}
